// Colors
$primary-color: #d42824;
$secondary-color: #47b881;
$tertiary-color: #e28431;
$quaternary-color: #e28431;
$quinary-color: #e28431;
$danger-color: #ea1c2c;
$error-color: #f44336;

$primary-text-color: #001726;
$black-color: #000;

$primary-background: #e6e6e6;
$secondary-background: #0b263b;
$white-background: #fff;

// GRID

$screen-es: 320px; // Extra Small
$screen-sm: 576px; // Small
$screen-md: 768px; // Medium
$screen-lg: 992px; // Large
$screen-el: 1200px; // Extra large

$header-height: 70px;
$header-height-mobile: 50px;
$max-width: '992px';
$max-mobile-width: '768px';
$break-point: '768px';

// TYPOGRAPHY
$font-family-base: 'Gotham A', 'Gotham B', Arial, sans-serif;
